@use 'colors';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
  font-size: 13px;
  background-color: colors.color(secondary2);
}

h1, h2, h3, h4, h5, h6 { font-family: 'Manrope', sans-serif; }

ul { list-style: none; }

a { text-decoration: none; }
