@use 'colors';
@use 'mediaQuery';

$border: 10px;

.card-text {
  h1 { margin-bottom: .75em; }
  p {
     margin-bottom: .75em;
     font-size: 1.1rem;
  }
}

.card-img img {
  width: 100%;
  height: 100%;
  border-radius: $border $border 0 0;

  @include mediaQuery.for-tablet-up() {
    border-radius: $border 0 0 $border;
  }
}

.left {
  display: flex;
  border-radius: 0 0 $border 0;
}

.right {
  border-radius: 0 0 0 $border;
}

.left-content {
  margin-left: 1em;
  padding-top: .5em;

  h5 { padding-bottom: .5em;}
}

.left img {
  width: 20%;
  border-radius: 50%;
}

.right img {
  background-color: colors.color(secondary);
  padding: 1em;
  width: 2.5rem;
  border-radius: 50%;
  margin-top: 1em;
}