@use 'base';

$colors: (
  primary: hsl(217, 19%, 35%),
  primary2: hsl(214, 17%, 51%),
  secondary: hsl(212, 23%, 69%),
  secondary2: hsl(210, 46%, 95%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}